{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <div class="container container--form">
        <form class="form" action="#">
            <h1 class="heading heading--centered container__heading">Восстановление пароля</h1>
            <input class="input form__input" type="number" placeholder="Код подтверждения">
            <button class="button button-fullwidth form__submit">Далее</button>
            <a class="button button--text button-fullwidth" href="{{ url_for('password-recovery') }}">Назад</a>
        </form>
    </div>
{% endblock %}